/* Set Your Own Margin & Padding */
h1, h2, h3, p, em {
	margin: 0 80px;
}

/* Layout for Style Tile*/
section {
	margin: 20px;
}

div:first-child {
	margin-left:80px;
}
div+em{
	margin-left: 20px;
}

/*TILES*/

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

/*LINKS*/

a:link {
	text-decoration: none;
	font-weight: bold;

}

a:visited {
	color:darkgrey;
}

a:hover {
	font-size: 1.10em;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}