/* Set Your Own Margin & Padding */
body {
	background: #000;
}

h1, h2, h3, p, em, ul {
	color:#e6e6e6;
	margin: 0 80px;
}

/* Layout for Style Tile*/
section {
	margin: 20px;
}
img	{
	margin-left: -30px;
}
div:first-child {
	margin-left:80px;
}
div+em{
	margin-left: 20px;
}
footer h3 {
	margin-left: 100px;
}
ul {
	list-style: none;
	text-indent: -20px;
}
li {

	margin: 5px;
}
em {
	line-height: 1.75;
}
/*TILES*/

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color-1 {
	background: #333;

}

.color-2 {
	background: #333;

}
.color-3 {
	background: #333;

}

.pattern-1

.pattern-2

.pattern-3

/*LINKS*/


a:link {
	color: darkgrey;
	font-weight: bold;
	
}

a:visited {
	color: #666699;

}

a:hover {
	font-size: 1.10em;
}
a {
	text-decoration: none;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}