/* Set Your Own Margin & Padding */
body {
	background: #333;
	position: absolute;

}

.container {
	background: #000;
	border-radius: 15px;
	padding: 40px 10px;
	width: 100%;
    max-width: 980px;
    min-width: 100%;
    position: relative;
    margin-left: 5%;
}

h1, h2, h3, p, em, ul {
	margin: 0 10px;
}

p {
	color: #e6e6e6;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;

}

h1 {
	color: #F0F0F0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;

}

h2, h3 {
	color: #D8D8D8;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;

}



/* Layout for Style Tile*/
section {
	margin: 20px;
	max-width: 80%;
}
img	{
	margin-left: -30px;
	max-width: 100%;
}
div:first-child {
	margin-left:20px;
}
div+em{
	margin-left: 20px;
}
footer h3 {
	margin-left: 35px;
}
ul {
	color: #e6e6e6;
	list-style: none;
	text-indent: -20px;
}
li {

	margin: 5px;
}
em {
	color: #e6e6e6;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	line-height: 1.75;
}
/*TILES*/



.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	float: left;
	margin: 10px;
	height: 75px;
	width: 75px;
}

.color-1 {
	background: #333;

}

.color-2 {
	background: #8A002E;

}
.color-3 {
	background: #000066;

}

.pattern-1 {
	background: url("../img/light_alu.png") repeat;
}

.pattern-2 {
	background: url("../img/shinedotted.png") repeat;
}

.pattern-3 {
	background: url("../img/hexabump.png") repeat;
}

/*LINKS*/


a:link {
	color: darkgrey;
	font-weight: bold;
	
}

a:visited {
	color: #666699;

}

a:hover {
	font-size: 1.10em;
}
a {
	text-decoration: none;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}